<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page_title %}{{ page_title }} - {% endif %}{{ config.appconfig.title }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    {% endblock %}
    {% block scripts %}{% endblock %}
    <link rel="preload" as="image" href="{{ config.appconfig.background_img }}">
</head>

<body>

               {% block content %}
               {% endblock %}
</body>

</html>

