{% extends "base.html" %}
{% import "icons.html" as icons %}
{% block scripts %}
<script src="{{ url_for('static', filename='index.js') }}" defer></script>
{% endblock %}
{% block content %}
<section class="hero is-link is-fullheight">
<div class="hero-body" style="background-image: url({{ config.appconfig.background_img|css_string }}) ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #003e70;">
{% if config.appconfig.show_settings %}
  <a class="button" style="position: absolute; top: 00px; right: 0px;" href="{{ url_for('main.route_color') }}" aria-label="Settings" title="Settings">
    <span class="icon is-small">
      {{ icons.gear() }}
    </span>
  </a>
{% endif %}
  <div style="position: absolute; top: 0px; left: 0px; display: flex;">
{% if back_url %}
    <a class="button" href="{{ back_url }}" aria-label="Back" title="Back">
      <span class="icon is-small">
        {{ icons.arrow_left() }}
      </span>
    </a>
{% endif %}
    <span class="button" style="display: none;" id="loader">
      <span class="loader icon is-small"></span>
    </span>
  </div>
  <div class="search-box">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="search" id="search" placeholder="Search" aria-label="Search tiles" autocomplete="off">
      </div>
{% if has_subfolders %}
      <div class="control">
        <button class="button" type="button" id="search-subfolders" aria-pressed="false" aria-label="Also search subfolders" title="Also search subfolders">
          <span class="icon is-small">
            {{ icons.tree() }}
          </span>
        </button>
      </div>
{% endif %}
    </div>
  </div>
  <div style="width: 100%; display: flex; flex-direction: column;">
    <div class="columns is-multiline is-centered is-gapless" id="tile-container" data-stream-url="{{ url_for('main.route_stream_tiles', subpath=folder_id) }}">
    </div>
    <div class="columns is-multiline is-centered is-gapless is-hidden" id="nested-container" data-stream-url="{{ url_for('main.route_stream_tiles', subpath=folder_id, recursive=1) }}">
    </div>
  </div>
  <p id="tile-message" class="tile-message is-hidden" role="status"
     data-empty="There are no tiles for you here."
     data-no-match="No tiles match your search."
     data-failed="Loading the tiles failed. Reload the page to try again."></p>
</div>
</section>
{% endblock %}
