{% extends "base.html" %}
{% block content %}
<script>
document.addEventListener("DOMContentLoaded", function () {
  const eventSource = new EventSource('/stream-tiles/{{ subpath }}');
  const loader = document.getElementById("loader");
  loader.style.display = '';

eventSource.onmessage = function(e) {
    const data = JSON.parse(e.data);

    if (data.done) {
        eventSource.close();
        loader.style.display = 'none';
        return;
    }

    const temp = document.createElement('template');
    temp.innerHTML = data.html;
    const newTile = temp.content.firstElementChild;
    newTile.dataset.index = data.id;
    newTile.classList.add('tile-wrapper')

    const container = document.getElementById('tile-container');
    const existingTiles = Array.from(container.children);
    const nextTile = existingTiles.find(tile =>
        parseInt(tile.dataset.index) > data.id
    );

    if (nextTile) {
        container.insertBefore(newTile, nextTile);
    } else {
        container.appendChild(newTile);
    }

  setTimeout(() => {
        newTile.classList.add('wrapper-visible');
    }, 20);
};
});
</script>
<section class="hero is-link is-fullheight">
<div class="hero-body" style="background-image: url({{ config.appconfig.background_img }}) ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #003e70;">
{% if config.appconfig.show_settings %}
  <a class="button" style="position: absolute; top: 00px; right: 0px;" href="{{ url_for('main.route_color') }}">
    <span class="icon is-small">
      <i class="bi bi-gear"></i>
    </span>
  </a>
{% endif %}
  <span class="button" style="position: absolute; top: 00px; left: 0px; display: none;" id="loader">
    <span class="loader icon is-small"></span>
  </span>
  <div class="" style="width: 100%; display: flex; justify-content: center;">
    <div class="columns is-multiline is-centered is-gapless" id="tile-container">
    </div>
  </div>
</div>
</section>
{% endblock %}
