{% extends "base.html" %}
{% block scripts %}
<script src="{{ url_for('static', filename='index.js') }}" defer></script>
{% endblock %}
{% block content %}
<section class="hero is-link is-fullheight">
<div class="hero-body" style="background-image: url({{ config.appconfig.background_img }}) ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #003e70;">
{% if config.appconfig.show_settings %}
  <a class="button" style="position: absolute; top: 00px; right: 0px;" href="{{ url_for('main.route_color') }}">
    <span class="icon is-small">
      <i class="bi bi-gear"></i>
    </span>
  </a>
{% endif %}
  <span class="button" style="position: absolute; top: 00px; left: 0px; display: none;" id="loader">
    <span class="loader icon is-small"></span>
  </span>
  <div class="" style="width: 100%; display: flex; justify-content: center;">
    <div class="columns is-multiline is-centered is-gapless" id="tile-container" data-stream-url="{{ url_for('main.route_stream_tiles', subpath=folder_id) }}">
    </div>
  </div>
</div>
</section>
{% endblock %}
